
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Uncial+Antiqua&display=swap');

html {
	background-color: black;
}

body {
	color: white;
}

.uncial {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

.non-pixelated {
	image-rendering: pixelated;
}

.scaled32 {
	width: 32px;
	height: 32;
}

.scaled64 {
	width: 64px;
	height: 64px;
}

.scaled128 {
	width: 128px;
	height: 128px;
}

.scaled256 {
	width: 256px;
	height: 256px;
}

.scaled512 {
	width: 512px;
	height: 512px;
}

.scaled1024 {
	width: 1024px;
	height: 1024px;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.self-justify-center {
	justify-self: center;
}

.self-align-center {
	align-self: center;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.flex-column {
	flex-direction: column;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.all-screen-height {
	height: 100dvh;
}

.all-screen-width {
	width: 100dvw;
}

.all-width {
	width: 100%;
}

.all-height {
	height: 100%;
}

.pos-fixed {
	position: fixed;
}

.text-center {
	text-align: center;
}